<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHZ Super Cars</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="header">
		
			<h1><a href="index.html">HHZ Super Cars</a></h1>
        </div>
    </header>
    
	<main>
		<div class="sticky-menu-container">
			<nav>
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="/rooms">Rooms</a></li>
						<li><a href="events">Events</a></li>
                        <li><a href="impressions">Impressions</a></li>
                        <li><a href="weather">Weather</a></li>

					</ul>
			</nav>
		</div>

            <section class="products">
                <h2>We offer a first class selection of Rooms</h2>
                
				<div class="product-grid">
                    <% rooms.forEach(function(room) { %>
                    <div class="product-item">
                        <div class="product-image-container">
							<div class="image" style="background-image: url(http://localhost:9000/roomimages/<%=room.filename%>)"></div>
						</div>
						<h3><%= room.name %></h3>
                        <p><%= room.description %></p>
                        <p>Preis: <%= room.price %>€</p>
                        <button onclick="window.location.href='/rooms'">Go to Rooms</button>                    </div>
                    <% }); %>
				</div>	
            </section>
			
			<section class="products">
                <h2>Weather Forecast</h2>
                
				<div class="content-grid">
					<div class="content-item">
						<div class="image-container">
							<div class="image" style="background-image: url(https://previews.123rf.com/images/olegdoroshin/olegdoroshin1111/olegdoroshin111100170/11272501-fahrten-mit-dem-auto-w%C3%A4hlen-sie-route-auf-der-karte.jpg)"></div>
						</div>
						<div class="content-item-text">
							<h3>Find out, what the weather will look like when you book</h3>
                            <button onclick="window.location.href='/weather'">Check the Weather</button>                    </div>
						</div>
                    </div>
				</div>
			</section>
        
		
			<section class="products">
                <h2>Events near our Location</h2>
                
				<div class="product-grid">
                    <% events.forEach(function(event) { %>
                    <div class="product-item">
                        <div class="product-image-container">
							<div class="image" style="background-image: url(http://localhost:9001/eventimages/<%=event.filename%>)"></div>
						</div>
						<h3><%= event.name %></h3>
                        <p><%= event.description %></p>
                        <p>Preis: <%= event.price %>€</p>
                        <button onclick="window.location.href='/events'">Search for Events</button>                    </div>
                    <% }); %>
				</div>	
                
    </main>
	
    <footer>
        <div class="container">
            <p>&copy; 2024 Hotel Service. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
	
<script src="scripts.js"></script>

</body>
</html>
