<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHZ Super Cars</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>	
    </header>
    
	<main>
		<div class="sticky-menu-container">
			<nav>
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="rooms">Rooms</a></li>
						<li><a href="events">Events</a></li>
                        <li><a href="impressions">Impressions</a></li>
                        <li><a href="weather">Weather</a></li>
					</ul>
			</nav>
		</div>
        <div class="container">
            <section class="products">
                <h2>Weather for today</h2>
                <div class="product-grid">
                    <div class="weather-widget">
                        <div class="location"><%= weather.location.name %> - <%= weather.location.country %></div>
                        <div class="condition">
                            <img src="<%= weather.current.condition.icon %>" alt="icon">
                            <div class="condition-text"><%= weather.current.condition.text %></div>
                        </div>
                        <div class="temperature"><%= weather.current.temp_c %>°C</div>
                        <div class="details">Feels like: <%= weather.current.feelslike_c %>°C</div>
                        <div class="details">Humidity: <%= weather.current.humidity %>%</div>
                        <div class="details">Wind: <%= weather.current.wind_kph %> kph</div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Hotel Service. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
	
<script src="./script/scripts.js"></script>

</body>
</html>
