<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHZ Super Cars</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>	
    </header>
    
	<main>
		<div class="sticky-menu-container">
			<nav>
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="rooms">Rooms</a></li>
						<li><a href="events">Events</a></li>
                        <li><a href="impressions">Impressions</a></li>
                        <li><a href="weather">Weather</a></li>
					</ul>
			</nav>
		</div>
        <div class="container">
            <section class="products">
                <h2>Check the Weather for today</h2>
				<div class="product-grid">
                    <div class="product-item">
                        <h3>Today</h3>
						<h3><%= weather.location.name %> - <%= weather.location.country%></h3>
                        <img src= <%=weather.current.condition.icon%> alt="icon">
                        <p><%= weather.current.condition.text %></p>
                        <p> Temperature: <%= weather.current.temp_c %> C</p>
                    </div>
				</div>	
            </section>
		</div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Hotel Service. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
	
<script src="./script/scripts.js"></script>

</body>
</html>
